.App {
  background-color: #282c34;
  color: white;
  font-size: calc(8px + 2vmin);
  max-width: 1280px;
  margin: 0 auto;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.month {
  padding-bottom: 60px;
}

.control-panel {
  background: transparent;
  bottom: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  min-width: 1280px;
  margin: 0 auto;
  position: fixed;
}

.control-item {
  margin: 30px;
}

.control-icon {
  height: 80px;
  width: 80px;
}

@media screen and (max-width: 1280px) {
  .control-panel {
    right: 0;
    width: 100%;
  }

  .control-icon {
    height: 60px;
    width: 60px;
  }
}
